### String inbuilt functions:

In [1]:
mystr = 'Chinmay Prusty 12 02 1997'

In [2]:
mystr.isalpha()

False

In [3]:
mystr.isalnum()

False

In [4]:
mystr.isdigit()

False

In [5]:
mystr.isnumeric()

False

In [6]:
mystr.istitle()

True

In [7]:
mystr.isspace()

False

In [8]:
mystr.isupper()

False

## Lists:

In [9]:
lst = [1,2,3,'z','as','oi1','09']

In [10]:
len(lst)

7

In [12]:
lst[0:7]

[1, 2, 3, 'z', 'as', 'oi1', '09']

In [13]:
lst[1:]

[2, 3, 'z', 'as', 'oi1', '09']

In [14]:
lst[:5]

[1, 2, 3, 'z', 'as']

In [19]:
lst.append('Hello World')
lst

[1, 2, 3, 'z', 'as', 'oi1', '09', 'Hello World']

In [20]:
lst.pop()

'Hello World'

In [21]:
lst.remove(1)

In [22]:
lst

[2, 3, 'z', 'as', 'oi1', '09']

In [23]:
lst.remove('as')

In [24]:
lst

[2, 3, 'z', 'oi1', '09']

In [25]:
lst.insert(2,'Chinmay')

In [26]:
lst

[2, 3, 'Chinmay', 'z', 'oi1', '09']

**Extend method:**

In [27]:
lst = [1,2,3]
lst

[1, 2, 3]

In [28]:
lst.append([4,5])

In [29]:
lst

[1, 2, 3, [4, 5]]

In [30]:
#see the above method added a nested list

In [31]:
lst.pop()

[4, 5]

In [32]:
#So we will use extend to add multiple elements onto the list

In [33]:
lst.extend([4,5])

In [34]:
lst

[1, 2, 3, 4, 5]

In [36]:
lst.extend([6,7])

In [37]:
lst

[1, 2, 3, 4, 5, 6, 7]

**Sum of elements of list:**

In [39]:
sum(lst)

28

In [42]:
#Find the total occurence of an element inside the list
lst.count(1)

1

In [43]:
lst.extend([1,1,1,1])

In [44]:
lst.count(1)

5